<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.mapper.HousemasterMapper">

    <resultMap id="BaseResultMap" type="com.yu.domain.Housemaster">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="gender" column="gender" jdbcType="CHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="dormitoryid" column="dormitoryID" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,gender,name,
        dormitoryID
    </sql>
</mapper>
